<b>Results for {{cityD}}, {{stateD}}</b>
<p></p>
<table>
  <tr>
    <th>ZipCode</th>
    <th>Population</th>
  </tr>
{{#each data1}}
  <tr>
    <td><a href="/zip/{{this.zip}}">{{this.zip}}</a></td>
    <td>{{this.pop}}</td>
  </tr>
{{/each}}
</table>
